# 编译中间文件
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
CTestTestfile.cmake
compile_commands.json

# 构建目标
lib/
bin/
build/
*.o
*.a
*.so
*.so.*

# 测试可执行文件

# 临时文件
Testing/
*.log
*.d

# IDE 和编辑器相关
.vscode/
.idea/
*.swp
*.swo
*~

# macOS 下的垃圾文件
.DS_Store

# Linux core dump
core

